<h1>Fill Out This Form</h1>

<form action="/hello" method="POST">
	A Greeting: <input type="text" name="greet">
	<br />
	Your Name: <input type="text" name="name">
	<br />
	Your Picture: <input type="file" name="pic" accept="image/*">
	<input type="submit">
</form>